body {
	background-image: url("file:///C:/School/GitHub%20Projecten/De-Vloot/css/grfx/bg.png");
	font-family: "sans-serif";
	background-repeat: repeat-x;
}

ul {
	padding-top: 150px;
	padding-left: 15px;
	font-family: "sans-serif"
}

li {
	display: inline;
	padding-top: 100px;
	padding-left: 10px;
	font-family: "sans-serif"
}

img.top-left
 {
	float: left;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}

img.right {
	padding-top: 5px;
    float: right;
    padding-bottom: 5px;
}

img.rechts {
	float: right;
}

img.left{
	float: left;
	margin-right: 15px;
	margin-top: 15px;
}
div.header {
	background-image: url(file:///C:/School/GitHub%20Projecten/De-Vloot/css/grfx/header.jpg);
	background-repeat: no-repeat;
	z-index: -1px;
	width: 800px;
	height: 258px;
	padding-left: 20px;
	padding-top: 2px;
	font-family: "sans-serif"
}

div.container {
    margin: 0px auto;
    width: 800px;
    border-radius: 0px;
    background: white;
    height: auto;
    font-family: "sans-serif"
 }

 h1 {
 	display: inline;
 	font-family: "sans-serif"
 }

 a {
 	color: white;
 	font-family: "sans-serif"
 }

 .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "sans-serif"
}

head {
	font-family: "sans-serif"
}